nav{
	height: 39px;
	.button-back-page{
		height: auto;
		padding-left: 20px;
		.icon-back-page{
			font-size: x-large;
		}
	}
	.buttom-enlaces-nav{
		margin-left: 75%;
		.icon-enlaces-nav{
			font-size: x-large;
		}
	}
}
#cuenta-section{
	.first-column-cuenta{
		.title-cuenta{
			font-family: 'Teko', sans-serif;
			font-weight: 900;
			font-size: -webkit-xxx-large;
			color: #ef6c00!important;
			margin-top: 20%;
			margin-bottom: 0;
		}
		.subtitle-cuenta{
			margin-top: 0;
			font-size: x-small;
		}
	}
}
.errores{
   	background: red;
   	color: white;
   	display: none;
   	font-size: 14px;
   	margin-top: 10px;
   	margin-left: 50px;
   	padding: 5px;
   	position: absolute;
}