nav{
	height: 39px;
	.button-back-page{
		height: auto;
		padding-left: 20px;
		.icon-back-page{
			font-size: x-large;
		}
	}
	.buttom-enlaces-nav{
		margin-left: 75%;
		.icon-enlaces-nav{
			font-size: x-large;
		}
	}
}
#login-section{
	.first-column-login{
		.title-login{
			
		}
	}
}