nav{
	height: 39px;
	.button-back-page{
		height: auto;
		padding-left: 20px;
		.icon-back-page{
			font-size: x-large;
		}
	}
	.title-nav-perfil{
		font-family: 'Teko', sans-serif;
		font-size: 20px;
		font-weight: 900;
		margin-left: 30%;
	}
	.buttom-enlaces-nav{
		margin-left: 33%;
		.icon-enlaces-nav{
			font-size: x-large;
		}
	}
}
.errores{
    background: red;
    color: white;
    display: none;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 50px;
    padding: 5px;
    position: absolute;
}
#imagen-perfil-section{
	.first-row-perfil{
		margin: 0;
		.first-column-perfil{
			padding: 0;
			#box{
				height: 25vh;
				.perf_ima{ 
					width: 100%;
					height: 25vh;
				}
			}
			.button-upload{
				width: 100%;
				border: none;
				padding: 5px;
			}
			.modal-upload{
				#file-submit{
					margin-left: 20%;
				}
				#guardar{
					width: 80%;
					margin-left: 10%;
				}
			}
		}
	}
}
#perfil-section{
	height: 30vh;
	.box-a{
		border-radius: 4px;
		padding: 9px;
		font-size: 12px;
		color: $naranjo;
		margin-top: 3%;
	}
	.box-b{
		border-radius: 4px;
		padding: 9px;
		font-size: 12px;
		color: $naranjo;
		margin-top: 3%;
	}
	.title-favorites{
		margin-top: 8vh;
		letter-spacing: 2px;
	}
}
