/* NAV
nav{
	height: 39px;
	.button-back-page{
		height: auto;
		padding-left: 20px;
		.icon-back-page{
			font-size: x-large;
		}
	}
	.name-page-nav{
		height: auto;
		width: 100px;
		font-size: large;
		font-weight: 600;
		margin-left: 22%;
	}
	.buttom-enlaces-nav{
		margin-left: 20%;
		.icon-enlaces-nav{
			font-size: x-large;
		}
	}
}
*/
.select-buscador{
	background-color: #E5E5E5;
	height: auto;
	padding: 20px 0 10px;
}

.resultados-buscador{
	padding: 20px 0;
	margin:10px 0;
	.caja-resultados{
		img{
			border-radius: 6px;
    		margin:0;
    		width:100vh;
    		height: 80px;
		}
		.texto-resultado{
			background-color: #FF721A;
			position: relative;
    		top: -25px;
			border-bottom-left-radius: 6px;
    		border-bottom-right-radius: 6px;
    		padding: 5px 2px;
    		.row{
    			margin:0;
    			line-height:5px;
	    		.col-resultado{
	    			padding-left: 3px;
	    			padding-right: 0;
	    			margin:0;
	    			p{
		    			color: #FFF;
		    			margin: 2px;
		    			font-size: 7px;
		    		}
		    		.nombre-ubicacion{
		    			font-size: 6px;
		    			font-weight: 100;
		    		}
		    		.fa-cutlery{
		    			color: #FFF;
		    			font-size: 7px;
		    		}
	    		}    			
    		}
		}
	}
}